body {
  background-color: lightblue;
  font-family: verdana;
}

header {
  text-align: center;
  font-size: x-large;
  text-decoration: bold;
}

a {
  text-align: center;
  color: black;
  text-decoration: none;
}

.cat-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 1rem;
}

.cat-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  border-radius: 1rem;
}

div .cats-item {
  text-align: center;
}

div p {
  text-align: center;
}

span #cat-breed {
  background-color: white;
}
#cat-fact {
  text-align: center;
}

div {
  text-align: center;
}
